@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bungee+Hairline&family=Comfortaa:wght@300&family=Inconsolata:wght@300&family=Josefin+Sans:ital,wght@1,100&family=Klee+One&family=Lato:wght@300&family=Orbitron&family=Oswald:wght@200&family=Roboto:wght@100&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
}

.backphoto {
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: relative;
    display: flex;
}

.title {
    font-family: "bungee hairline";
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}

.car {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
}

.text {
    width: 90%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    font-family: roboto;
    font-weight: bolder;
    font-size: 25px;
}

iframe {
    position: absolute;
    left: 68%;
    top: 140%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
}

.inbox {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 60%;
    top: 150%;
    transform: translate(-50%, -50%);
    display: flex;
}

.card {
    width: 350px;
    height: auto;
    position: absolute;
    bottom: -250px;
    left: 30px;
    border-radius: 20px;
    user-select: none;
    display: flex;
}

.inbox-h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: "amatic sc";
    position: absolute;
    bottom: -130px;
    left: 40px;
    display: flex;
}

.number {
    width: 250px;
    height: 150px;
    font-size: 25px;
    font-family: roboto;
    position: absolute;
    bottom: -300px;
    left: 40px;
    display: flex;
}

.foot {
    position: absolute;
    top: 0;
    text-align: center;
    font-family: roboto;
    font-size: 15px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.527);
    display: flex;
}

@media only screen and (max-width: 768px) {
    
    .backphoto {width: 100%; object-fit: cover;}
    .car {width: 90%; left: 50%; top: 60%; transform: translate(-50%, -50%);}
    iframe {width: 80%;}
    iframe {left: 50%;}
    .inbox {margin: 5px;}

}