@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bungee+Hairline&family=Comfortaa:wght@300&family=Inconsolata:wght@300&family=Josefin+Sans:ital,wght@1,100&family=Klee+One&family=Lato:wght@300&family=Orbitron&family=Oswald:wght@200&family=Roboto:wght@100&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background-photo {
    width: 100%;
    height: auto;
}